<a href="https://colab.research.google.com/github/Simon006/python_for_data_analysis_note/blob/main/%E6%95%B0%E6%8D%AE%E5%88%86%E6%9E%9003_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#series
Series 是一种类似于以为数组的对象，由一组数据（各种numpy数据类型）以及一组与之相关的数据标签（即索引）组成。索引值由**0~N-1**的证书型索引。可以通过Series的values和index属性获取。

In [ ]:
import pandas as pd
obj = pd.Series([4,7,-5,3])
print(obj)

0    4
1    7
2   -5
3    3
dtype: int64

In [ ]:
print(obj.values)
print(obj.index)

[ 4  7 -5  3]
RangeIndex(start=0, stop=4, step=1)

- >带标记的索引

In [ ]:
obj2 = pd.Series([4,5,6,7],index=['a','b','c','d'])
print(obj2.index)
print(obj2)

#可以通过传入index的键的顺序来改变列表的字典的键顺序

Index(['a', 'b', 'c', 'd'], dtype='object')
a    4
b    5
c    6
d    7
dtype: int64

In [ ]:
obj[obj>0]

0    4
1    7
3    3
dtype: int64

In [ ]:
import numpy as np
np.exp(obj)

0      54.598150
1    1096.633158
2       0.006738
3      20.085537
dtype: float64

#缺失null
pandas的缺失值检测可以用pd.isnull( ),与pd.notnull( )。

#Series对齐功能
Series对齐功能会管局运算的索引标签自动对齐数据。其中每个Series对象本身及其索引都有一个name属性，该属性和pandas其他的关键功能关系非常密切。

In [ ]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)

states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)
print(obj3)
print(obj4)

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [ ]:
#优秀的合并列表对齐功能
a = obj3+obj4
print(a)

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

#索引值就地更改
可以通过赋值的形式更改

In [ ]:
print(obj)
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
print(obj)

0    4
1    7
2   -5
3    3
dtype: int64
Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

#DataFrame
DataFrame是一个表格型的数据结构，它含有一组有序的列，每列可以由不同的值：（数值、字符串、布尔值等）。DataFrame既有行索引也有列索引，它可以被看做由Series组成的字典（共用同一个索引）。DataFrame中的数据是以一个或多个二维块存放的（而不是列表、字典或别的一维数据结构）。

- >（1）包括二维ndarray \\
（2）NumPy结构化/记录数组 \\
（3）由Series组成的字典  \\
（4）由列表或者元组组成的列表 \\
（5）另一个DataFrame \\

In [ ]:
#直接传入一个由等长列表或NumPy数组组成的字典：
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)

DataFrame会自动加上索引（跟Series一样），且全部列会被有序排列：

In [25]:
print(frame)
print(frame.state)

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2
0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
5    Nevada
Name: state, dtype: object

#loc方法
可以通过loc方法来对行的位置或者名字进行检索

In [27]:
#可以通过loc属性访问DataFrame的行
frame.loc[4]
#注意在修改index索引之后需要用相对应的索引值，例如str来进行索引

state    Nevada
year       2002
pop         2.9
Name: 4, dtype: object

In [29]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

frame2 = pd.DataFrame(data,columns=['year', 'state', 'pop', 'debt'],index=['one', 'two', 'three', 'four','five', 'six'])

print(frame2)

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN

#列的赋值
可以用向量或者一个标量对列进行赋值

In [30]:
frame2['debt']=12
print(frame2)

       year   state  pop  debt
one    2000    Ohio  1.5    12
two    2001    Ohio  1.7    12
three  2002    Ohio  3.6    12
four   2001  Nevada  2.4    12
five   2002  Nevada  2.9    12
six    2003  Nevada  3.2    12

In [34]:
import numpy as np
frame2['debt']=np.arange(6,)   
#注意使用的是向量
print(frame2)

       year   state  pop  debt
one    2000    Ohio  1.5     0
two    2001    Ohio  1.7     1
three  2002    Ohio  3.6     2
four   2001  Nevada  2.4     3
five   2002  Nevada  2.9     4
six    2003  Nevada  3.2     5

#添加列与删除列
del用于删除列，添加列的方式可以参考字典添加键值对的方式。

In [43]:
frame2['estern'] = frame2.state=='Ohio'
print(frame2)

       year   state  pop  debt  estern
one    2000    Ohio  1.5   NaN    True
two    2001    Ohio  1.7  -1.2    True
three  2002    Ohio  3.6   NaN    True
four   2001  Nevada  2.4  -1.5   False
five   2002  Nevada  2.9  -1.7   False
six    2003  Nevada  3.2   NaN   False

In [36]:
val = pd.Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
frame2['debt'] = val
print(frame2)
#注意在定义变量的时候虽然val只有定义了三列的函数，但在修改赋值的时候是对整一列进行了赋值和修改

       year   state  pop  debt  estern
one    2000    Ohio  1.5   NaN    True
two    2001    Ohio  1.7  -1.2    True
three  2002    Ohio  3.6   NaN    True
four   2001  Nevada  2.4  -1.5   False
five   2002  Nevada  2.9  -1.7   False
six    2003  Nevada  3.2   NaN   False

In [44]:
#删除列方法 del
del frame2['estern']
print(frame2)

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7
six    2003  Nevada  3.2   NaN

In [46]:
print(frame2.loc['six'])
#并不可以del loc调取出来的行

year       2003
state    Nevada
pop         3.2
debt        NaN
Name: six, dtype: object

#转置
DataFrame的转置和NumPy转置类似。

In [50]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9},'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
frame3 = pd.DataFrame(pop)

print(frame3)

print('\n')
print("transpose frame 3")
print('\n')
print(frame3.T)

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5


transpose frame 3


        2001  2002  2000
Nevada   2.4   2.9   NaN
Ohio     1.7   3.6   1.5